html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 100%;
  background-color: #d6ffd9;
  color: rgb(61, 61, 61);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 3rem;
}
p {
  font-size: 1.4rem;
}
#content {
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  height: 100vh;
  overflow-y: auto;
}

.two-player-game-container {
  display: none;
  justify-content: center;
}

#gamePlayer1 canvas {
  border: 15px;
  border-style: solid;
  border-color: rgb(67, 164, 255);
}

#results {
  width: 250px;
}

#results h2 {
  margin-top: 0;
  margin-bottom: 14px;
}

#gamePlayer2 canvas {
  border: 15px;
  border-style: solid;
  border-color: rgb(23, 207, 100);
}

#results ol {
  margin: 0;
  padding: 0;
  margin-left: 100px;

  text-indent: 0;
  font-size: 1.45rem;
  width: 100px;
}

#results ol li {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

#results ol li.current-player {
  font-weight: 800;
}

@media (max-height: 1023px) {
  #content {
    padding: 0px;
  }

  .game-info {
    display: none;
  }
}
